footer {
  width: 100%;

  height: fit-content;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 2em;
}

footer h2 {
  font-weight: bold;
  padding-bottom: 0.25em;
}

@media screen and (min-width: 768px) {
  footer h2 {
    padding-bottom: 0.5em;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
  }
}
