.p5-canvas {
  /* margin-left: 20em; */
  margin-top: 5em;
  width: 95vw;
  height: 20em;
}
.content-wrapper {
  width: fit-content;
  height: 100vh;
}
.hero-text {
  font-weight: 600;
  margin-top: 1em;
  font-size: 2rem;
  line-height: 2.25rem;
}
