.navbar {
  display: flex;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100vw;
  padding: 0.5em 0 0.5em 0;
  border-bottom: 0.05em solid black;
  z-index: 1;
}

.navbar-logo {
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
}
.menu-button {
  margin-left: 1em;
  margin-right: 1em;
}

.fa-times {
  font-size: 1.25rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 2.1em;

  width: 100vw;
  height: 100vh;
  left: -100vw;
  transition: all 0.5s ease;
}

.nav-menu-open {
  background-color: rgb(190, 190, 190);
  left: 0;
  z-index: 3;
  transition: all 0.5s ease;
}

.nav-menu-item {
  color: black;
  font-size: 2rem;
  height: 400px;
  /*pos needs to be relative to draw underline animation*/
  position: relative;
}

/*the underline item itself*/
.nav-menu-item::before {
  /*content is what will be dispalyed
  bottom makes sure it is below the item it will be displayed under
  right shows how far it will go */
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

/*animating the underline when item is hovered*/
.nav-menu-item:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.nav-menu-content {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(4); */
  row-gap: 1em;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .menu-button {
    display: none;
  }

  .navbar {
    justify-content: space-between;
    padding: 0.7em 0 0.7em 0;
  }
  .nav-menu {
    display: block;

    position: static;
    top: 0;

    width: fit-content;
    height: fit-content;
    margin-right: 3em;
  }

  .nav-menu-content {
    display: flex;
    flex-direction: row;
    column-gap: 1em;

    text-align: center;
  }

  .nav-menu-item {
    color: black;
    font-size: 1.25rem;
  }
  .navbar-logo {
    margin-left: 2em;
  }
}
