img {
  max-width: 100%;
  height: auto;
}

.project-link {
  font-size: 1.25rem;
  line-height: 2.5em;
  position: relative;
}

.project-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0.1em;
  background-color: blue;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.project-link:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
    column-gap: 4em;
    align-items: center;
  }
  img {
    width: 20em;
  }
}
