:root {
  --header-font-weight: bold;
  --h1-font-size: 2.25rem;
  --header-alignment: center;
  --header-spacing-bottom: 1em;
  --link-line-height: 1.5em;
  --article-description-spacing-top: 1.75em;
  --article-description-spacing-bottom: 1.75em;
  --image-caption-spacing-top: 0.25em;
  --project-link-spacing-bottom: 0.5em;
}

.projectTitle {
  margin-top: 1em;
  font-weight: var(--header-font-weight);
  font-size: var(--h1-font-size);
  text-align: var(--header-alignment);
  padding-bottom: var(--header-spacing-bottom);
}

.articleImage {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.imageCaption {
  color: grey;
  margin-top: var(--image-caption-spacing-top);
}

.multiImageContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.projectLink {
  display: block;
  margin-bottom: var(--project-link-spacing-bottom);
  max-width: fit-content;
}

.articleDescription {
  margin-top: var(--article-description-spacing-top);
  margin-bottom: var(--article-description-spacing-bottom);
}
