:root {
  --header-font-weight: bold;
  --h2-font-size: 2rem;
  --h3-font-size: 1.7rem;
}

.sectionH2Header {
  font-weight: var(--header-font-weight);
  font-size: var(--h2-font-size);
  padding-bottom: 0.5em;
}

.sectionH3Header {
  font-weight: var(--header-font-weight);
  font-size: var(--h3-font-size);
}
